<div class="alert alert-danger" *ngIf="false">
	There was a problem logging in. Please try again.
</div>



<div class="form-group">
    <label for="username">Username:</label> <input type="text"
        class="form-control" id="username" [(ngModel)] = "loginData.username"/>
</div>
<div class="form-group">
    <label for="password">Password:</label> <input type="password"
        class="form-control" id="password" [(ngModel)] = "loginData.password"/>
</div>
<button (click)= "login()" class="btn btn-primary">Login</button>
