
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-toggleable-md navbar-dark custom-nav fixed-top scrolling-navbar">
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">SDRC Repo <small>1.0.0</small></a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [ngClass]="{'active': router.url=='/' || router.url=='/login'}">
                <a class="nav-link" mdbRippleRadius routerLink="/">Home</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': router.url=='/dashboard'}">
                <a class="nav-link" mdbRippleRadius routerLink="dashboard">Dashboard</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': router.url=='/basic-components'}">
                <a class="nav-link" mdbRippleRadius routerLink="basic-components">Basic Components</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                
                <a dropdownToggle mdbRippleRadius class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                Basic dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <h5 class="dropdown-header">Header 1</h5>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/">Home</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="dashboard">Dashboard</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="form">Form</a>
                    <h5 class="dropdown-header">Header 2</h5>
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->