input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea{
    width: 300px;
}

.input-holder{
    display: inline-block;
}
label{
    vertical-align: top;
    font-weight: bold;
}
.input-holder:parent{
    background-color: #CCC;
}
@media(max-width: 767px){
    label{
        text-align: left !important;
    }
}