<form>
  <div class="md-form">
    <input mdbActive type="text" id="form1" class="form-control" placeholder="Enter your name" >
    <label for="form1" class="">Basic Input Box</label>
  </div>
  <!--Basic textarea-->
  <div class="md-form">
    <textarea mdbActive type="text" id="form7" class="form-control md-textarea" placeholder="Enter message"></textarea>
    <label for="form7">Basic textarea</label>
  </div>
  <div>
  <div class="btn-group" dropdown>
    <input type="text" class="dropdown-input" placeholder="select one">
    <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbRippleRadius></button>
    <div class="dropdown-menu">
        <a class="dropdown-item">Action</a>
        <a class="dropdown-item">Another action</a>
        <a class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Separated link</a>
    </div>
  </div>  
</div>
  <div class="form-group">
    <input type="checkbox" class="filled-in" id="checkbox2">
    <label for="checkbox2">Filled-in checkbox</label>
  </div>

  <div class="form-group">
    <input name="group1" type="radio" id="radio1">
    <label for="radio1">Option 1</label>
  </div>
  
  <div class="form-group">
    <input name="group1" type="radio" id="radio2">
    <label for="radio2">Option 2</label>
  </div>
  
  <div class="form-group">
    <input name="group1" type="radio" id="radio3">
    <label for="radio3">Option 3</label>
  </div>
  <!-- Switch -->
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>
<!-- 
  <div class="file-field">
    <div class="btn btn-primary btn-sm waves-light" mdbRippleRadius>
      <span>Choose file</span>
      <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
    </div>
  </div> -->

  <div class="md-form">        
    <input id="input_text" type="text" length="10" mdbCharCounter mdbActive>
    <label for="input_text">Input text</label>
  </div>    

  <!-- <div class="md-form">
    <mdb-completer [label]="'SDRCians?'" name="autocomplete" [(ngModel)]="sdrcian" [datasource]="sdrcians" [minSearchLength]="0"></mdb-completer>
  </div> -->

  <div class="md-form">
    <input type="text" class="input-alternate" placeholder="John Doe">
  </div>

</form>
