<!--Carousel Wrapper-->
<mdb-carousel [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
      <img class="d-block w-100" src="../assets/images/pushpins/800.jpg" alt="First slide">
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
      <img class="d-block w-100" src="../assets/images/pushpins/3D.jpeg" alt="Second slide">
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
      <img class="d-block w-100" src="../assets/images/pushpins/wallpapers.jpeg" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->