<!-- <div [ngStyle]="buttonStyle"> 
  Using AngulaR Bootstrap Material Design
</div> -->
<h2 style="border-bottom: 1px solid #CCC">Slider</h2>
<h3 style="margin-bottom: 60px;border-bottom: 1px dotted #CCC">Banner Slider</h3>
<app-slider></app-slider>

<

<h2 style="border-bottom: 1px solid #CCC">Form Components</h2>

<h3 style="margin-bottom: 60px;border-bottom: 1px dotted #CCC">Basic Form</h3>
<app-basic-form></app-basic-form>

<h3 style="margin-bottom: 60px;border-bottom: 1px dotted #CCC">Inline Form</h3>
<app-inline-form></app-inline-form>

<h2>SDRC Table</h2>
<app-sdrc-table></app-sdrc-table>